@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import './Variables';


* {
  // border: 1px solid white; //debug
  // padding: 1px; // debug
  box-sizing: border-box;
  font-family: Lato;
}

html, body, #root, .App, .Home {
  height: 100%;
  background-color: $primary;
  color: $highlight
}

.App {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: $highlight;

  &:visited {
    color: $highlight;
  }  
}

main {
  flex-grow: 1;
}