@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  border: 1px solid black; //debug
  box-sizing: border-box;
  font-family: Lato;
  padding: 0;
  margin: 0;
}

html, body, #root, .App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.Main {
  flex-grow: 1;
}