@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import './Variables';


* {
  // border: 1px solid white; //debug
  box-sizing: border-box;
  font-family: Lato;
  padding: 2px

}

html, body, #root, .App {
  height: 100%;
  margin: 0px;

  background-color: $primary;
  color: #F9EBE0;
  // color: $highlight;

}
.App {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

a {
  text-decoration: none;

  &:visited, &:link, &:active {
    color: inherit;
  }
}

main {
  flex-grow: 1;
}