@import './Variables';

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 1px;

  a {
    transition: $transition-short;
  }

  a:hover {
    color: $highlight;
  }
}