@import './Variables';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary;
  border-radius: 5px;
  padding: 0px 40px;
  height: 60px;
  margin-bottom: 20px;

  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;

  .NavButtons {
    a {
      font-size: 20px;

    }

    * {
      border-top: 1px solid $primary;
      padding-right: 40px;
      margin: 0px 20px;

      &:hover {
        border-top-color: $highlight;
        transition: all 0.2s ease-in-out;
     }
    }
  }

  .NavSocials {
    a {
      margin: 0px 5px;
    }
    img {
      height: 20px;
      width: auto;
    }
  }

  .NavHome, .NavSocials {
    width: 150px;
  }

  .NavHome {
    font-size: 30px;
  }
}