.Leaderboard {
display: flex;
flex-direction: column;
padding: 10px 20px;
height: 100%;
width: 100%;
margin-top: 30px;

  .LeaderboardRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    div {
      text-align: center;
    }
    div:first-child {
      text-align: left;

    }

    div:last-child {
      text-align: right;
    }
  }
}