@import "./Variables";

.Profile {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  p {
    word-break: break-all;
    font-size: 30px;
  }

  a {
    background-color: $secondary;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $highlight;
      transition: all 0.2s ease-in-out;
    }
  }
}

.UserCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.UserCard {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
  
  background-color: $secondary;

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  padding: 30px;
  transition: opacity 1s ease-in-out;

  .UserCardHeader, .UserCardBody {
    padding: 10px 0px;
  }
}

.Hide {
  opacity: 0;
}

.UserCardHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid $primary;

  img {
    border-radius: 50%;
    width: 150px;
    border: 3px solid $highlight;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
    font-size: 40px;
  }
}

.UserCardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    letter-spacing: 1px;
    padding: 0px;
    margin: 5px;
  }
}